
body{
    height: 100vh;
    background-image: url('./../assets/cinema.jpg');
    background-repeat: no-repeat;
    background-attachment: none;
    background-position: center;
    background-size: cover;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    padding-top: 30px;
}